{% extends 'base.html.twig' %}

{% block title %}Escuela de música{% endblock %}

{% block body %}

<div class="container mt-4">
   
        <div class="header alert alert-success" role="alert"></div>
    
    
    <div class="column">    
        <table class="table table-striped table-hover mt-3">
            <caption>
                <tr>
                    <th colspan="2">Matrícula actual</td>
                </tr>
            </caption>
            
        </table>
    </div>
    <div class="column">    
        <table class="table table-striped table-hover mt-3">
            <caption>
                <tr>
                    <th colspan="2">Instrumentos para matricular</td>
                </tr>
            </caption>
           
        </table>
    </div>
    
    <div class="column">
        <table class="table table-striped table-hover mt-3">
            <caption>
                <tr>
                    <th colspan="2">Matrícula a grabar</td>
                </tr>
            </caption>
          
            <tfooter>
                <tr>
                   
                </tr>

            </tfooter>
        </table>
    </div>
</div>
{% endblock %}
