{% extends 'base.html.twig' %}

{% block title %}Escuela de música{% endblock %}

{% block body %}


<div class="container mt-4">
    
        <div class="header alert alert-success" role="alert"></div>
    
    <div class="column">    
        <table class="table table-striped table-hover mt-3">
            <caption>
                <tr>
                    <th colspan="4">Instrumentos que imparte</td>
                </tr>
            </caption>
            <tr>
                {% for instrumentos in instrumentosImpartidos %}
                    <td>
                        {{instrumentos.nombre}}
                    </td>
                {% endfor %}
            </tr>
           
        </table>
    </div>
    <div class="column">    
        <table class="table table-striped table-hover mt-3">
            <caption>
                <tr>
                    <th colspan="2">Instrumentos que puede impartir</th>
                    <th colspan="2">Profesor</th>
                </tr>
            </caption>
            
        </table>
    </div>
    
    <div class="column">
        <table class="table table-striped table-hover mt-3">
            <caption>
                <tr>
                    <th colspan="2">Instrumentos para añadir</td>
                </tr>
            </caption>
           
            <tfooter>
                <tr>
              
                </tr>

            </tfooter>
        </table>
    </div>
</div>
{% endblock %}
