{% macro tabla(objeto) %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                {% for key, value in objeto %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for key, value in objeto %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endmacro %}