{% extends 'base.html.twig' %}

{% block title %}Carrito
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<aside class="mt-3"></aside>
	<div class="container mt-3">
		{% for mensaje in app.flashes %}
			{{ mensaje }}
		{% endfor %}
        
		{{ dump(pedido) }}
		<h3>
			<a href="{{ path('app_grabar_pedido') }}">Grabar pedido</a>
		</h3>
	</div>
{% endblock %}
